@font-face {
  font-family: 'Monserrat';
  src: url(./fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
  font-family: 'Inter';
  src: url(./fonts/Inter/Inter-Regular.otf);
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #0e1014;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
  padding: 50px 150px;
}

p {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.logo {
  display: flex;
  flex-direction: column;
  color: #333;
  gap: 10px;
  height: 24px;
}

.part-2 {
  width: 97px;
  height: 15px;
  background-image: url(./svg/part2.svg);
}

.part-1 {
  width: 35px;
  height: 24px;
  background-image: url(./svg/part1.svg);
}

.logo-title {
  display: flex;
  gap: 10px;
}

.logo-description {
  color: #E4E5EA;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

nav {
  display: flex;
  align-items: center;
  color: #E4E5EA;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 100%;
  justify-content: space-between;
}

nav ul {
  list-style-type: none;
  display: flex;
  color: #E4E5EA;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 15px;
}

nav a {
  text-decoration: none;
  color: #E4E5EA;
}

.main-content {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}

.main-text {
  max-width: 360px;
}

.sub-text,
h1 {
  color: #E4E5EA;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-block: 0;
}

.sub-text {
  font-weight: 900;
}

.extra-text {
  color: #E4E5EA;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  margin-top: 40px;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  max-width: 300px;
  color: #E4E5EA;
  gap: 10px;
}

.feature {
  width: 48%;
  margin-bottom: 10px;
  text-align: right;
}

.features-header {
  text-align: right;
}

.feature-title {
  text-transform: uppercase;
  margin-block: 0;
}

.feature-body,
.feature-title {
  margin-block: 0;
  font-family: 'Montserrat', sans-serif;
}

.button-container {
  margin-top: 20px;
}

.button {
  background-color: #4077F3;
  color: #E4E5EA;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  height: 60px;
  width: 260px;
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  background-color: #0e1014;
  color: #E4E5EA;
  gap: 30px;
}

.footer-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #656566;
}

.footer-links {
  list-style-type: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  text-decoration: none;
  color: #E4E5EA;
}

.align-items {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer .menu-list {
  column-count: 2;
  display: block;
}

.red-light,
.purple-light,
.red-ball,
.red-ball2,
.purple-ball {
  border-radius: 50%;
  position: absolute;
}

.red-light {
  background: #961a1a;
  opacity: 0.5;
  width: 311px;
  height: 311px;
  left: -102px;
  top: 251px;
  filter: blur(196px);
}

.purple-light {
  background: #833ab4;
  opacity: 0.5;
  width: 259px;
  height: 259px;
  left: 602px;
  top: -154px;
  filter: blur(196px);
}

.red-ball {
  width: 28px;
  height: 28px;
  left: 851px;
  top: 547px;
  box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
  filter: blur(2.5px);
  backdrop-filter: blur(2px);
}

.red-ball2 {
  width: 83px;
  height: 83px;
  left: 519px;
  top: 83px;
  box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
}

.purple-ball {
  width: 60px;
  height: 60px;
  left: 868px;
  top: -2px;
  box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.25);
  filter: blur(5px);
  backdrop-filter: blur(2px);
}

.whatsapp,
.telegram,
.viber {
  width: 20px;
  height: 20px;
  background-size: contain;
}

.whatsapp {
  background-image: url(./svg/whatsapp.svg);
}

.telegram {
  background-image: url(./svg/telegram.svg);
}

.viber {
  background-image: url(./svg/viber.svg);
}

nav ul li svg {
  display: block;
  margin: auto;
}

strong {
  background: linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.9px;
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.copyright {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #E4E5EA;
  align-items: flex-end;
  font-family: 'Montserrat', sans-serif;
}

.copyright a {
  text-decoration: underline;
  color: #E4E5EA;
}

.mobile-only {
  display: none;
}


@media screen and (max-width: 600px) {
  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  body {
    margin: 0;
    padding: 20px;
  }

  .container {
    padding: 0;
  }

  header {
    display: block;
  }

  .main-content {
    flex-direction: column;

  }

  .main-text {
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
  }

  .features {
    flex-direction: column;
  }

  .features-header {
    text-align: left;
  }

  .feature {
    width: 100%;
  }
  .feature.mobile-only {
    column-count: 2;
    /* width: 50%; */
  }

  .footer {
    flex-direction: column;
    gap: 20px;
  }

  .align-items {
    align-items: flex-start;
  }

  .copyright {
    align-items: flex-start;
  }
}