@font-face {
  font-family: 'Montserrat';
  src: url(/fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
  font-family: 'Inter';
  src: url(/fonts/Inter/Inter-Regular.otf);
}

body {
  margin: 0;
  /* font-family: 'Arial', sans-serif; */
  /* font-family: 'Montserrat', sans-serif; */
  background: #0e1014;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
  padding: 50px 150px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  /* Произвольный отступ для примера, вы можете настроить по своему усмотрению */
}

.logo {
  display: flex;
  flex-direction: column;
  color: #333;
  gap: 10px;
  height: 24px;
  display: flex;
  align-items: start;

}

.part-2 {
  width: 97px;
  height: 15px;
  background-image: url(part2.svg);
}

.part-1 {
  width: 35px;
  height: 24px;
  background-image: url(part1.svg);
}

.logo-title {
  display: flex;
  /* flex-direction: row; */
  gap: 10px;
}

.logo-description {
  color: #E4E5EA;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

nav {
  display: flex;
  align-items: center;
  color: var(--light-text, #E4E5EA);
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 100%;
  justify-content: space-between;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  color: #E4E5EA;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
  padding: 0;
}


nav a {
  text-decoration: none;
  color: #E4E5EA;
}

.main-content {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
  font-family: 'Inter', sans-serif;
}

.main-text {
  max-width: 360px;
  font-family: 'Inter', sans-serif;
}

.sub-text {
  color: #E4E5EA;
  font-family: 'Inter', sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

h1 {
  color: #E4E5EA;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: 'Inter', sans-serif;
  margin-block: 0;
}

.extra-text {
  color: var(--light-text, #E4E5EA);
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  max-width: 300px;
  color: #E4E5EA;
  gap: 10px;
}

.feature {
  width: 48%;
  /* Ширина элемента в каждой колонке */
  margin-bottom: 10px;
  text-align: right;
}

.features-header {
  text-align: right;
}

.feature-title {
  text-transform: uppercase;
  margin-block: 0;
}

.feature-body {
  margin-block: 0;
}

.button-container {
  margin-top: 20px;
}

.button {
  background-color: #4077F3;
  color: #E4E5EA;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  height: 60px;
  width: 260px;
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  background-color: #0e1014;
  color: #E4E5EA;
  /* height: 315px; */
  gap: 30px;
}

.footer-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #656566;
}

.footer-links {
  list-style-type: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  text-decoration: none;
  color: #E4E5EA;
}

.align-items {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer .menu-list {
  column-count: 2;
  display: block;
}

.red-light {
  background: #961a1a;
  border-radius: 50%;
  opacity: 0.5;
  width: 311px;
  height: 311px;
  position: absolute;
  left: -102px;
  top: 251px;
  filter: blur(196px);
}

.purple-light {
  background: #833ab4;
  border-radius: 50%;
  opacity: 0.5;
  width: 259px;
  height: 259px;
  position: absolute;
  left: 602px;
  top: -154px;
  filter: blur(196px);
}

.red-ball {
  background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.48) 0%, rgba(212, 93, 93, 0.248) 59.67%, rgba(167, 49, 49, 0.264) 78.59%, rgba(130, 25, 25, 0.232) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;

  border-radius: 50%;
  width: 28px;
  height: 28px;
  position: absolute;
  left: 851px;
  top: 547px;
  box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
  filter: blur(2.5px);
  backdrop-filter: blur(2px);
}

.red-ball2 {
  background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.536) 0%, rgba(212, 93, 93, 0.264) 59.67%, rgba(167, 49, 49, 0.248) 78.59%, rgba(130, 25, 25, 0.248) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;

  border-radius: 50%;
  width: 83px;
  height: 83px;
  position: absolute;
  left: 519px;
  top: 83px;
  box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
  /* backdrop-filter: blur(2px); */
}

.purple-ball {
  /* background: radial-gradient(
    closest-side,
    rgba(236, 208, 255, 0.64) 0%,
    rgba(161, 93, 207, 0.24) 59.667813777923584%,
    rgba(118, 49, 164, 0.21) 78.58988642692566%,
    rgba(86, 24, 128, 0.23) 100%
  ); */

  background: radial-gradient(
    64% 64% at 27.25% 26.5%, rgba(236, 208, 255, 0.64) 0%, rgba(161, 93, 207, 0.24) 59.67%, rgba(118, 49, 164, 0.208) 78.59%, rgba(86, 24, 128, 0.232) 100%)

  ;

  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 868px;
  top: -2px;
  box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.25);
  filter: blur(5px);
  backdrop-filter: blur(2px);
}

.whatsapp {
  width: 20px;
  height: 20px;
  background-image: url(whatsapp.svg);
}

.telegram {
  width: 20px;
  height: 20px;
  background-image: url(telegram.svg);
}

.viber {
  width: 20px;
  height: 20px;
  background-image: url(viber.svg);
}

nav ul li svg {
  display: block;
  /* Изменение свойства на block */
  margin: auto;
  /* Добавление стиля margin: auto; */
}

strong {
  background: var(--gradient, linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.9px;
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.copyright {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #E4E5EA;
  align-items: flex-end;
}

.copyright a {
  text-decoration: underline;
  color: #E4E5EA;
}